/* Global styles */
* {
  box-sizing: border-box; /* Set all elements to use border-box box-sizing */
}

/* Body styles */
body {
  font-family: 'Montserrat', sans-serif; /* Set the font family to Montserrat sans-serif */
  line-height: 1.6; /* Set the line-height to 1.6 */
  margin: 0; /* Set all margins to 0 */
  min-height: 100vh; /* Set the minimum height to 100vh */
}

/* Navigation menu styles */
ul {
  margin: 0; /* Remove all margins from the unordered list */
  padding: 0; /* Remove all padding from the unordered list */
  list-style: none; /* Remove the default list style */
}

/* Image styles */
img {
  display: block; /* Display images as block elements */
  margin: 0 auto; /* Align images to the center of the page */
}

/* Paragraph styles */
p {
  margin-left: 10px; /* Add a 10px margin to the left of paragraphs */
}

/* Heading and anchor element styles */
h2,
h3,
a {
  color: #34495e; /* Set the color of headings and anchors to #34495e (dark gray) */
}

a {
  text-decoration: none; /* Remove default text decoration for anchors (underline) */
}

/* Navigation menu container styles */
.logo {
  margin: 0; /* Remove all margins from the logo class */
  font-size: 1.45em; /* Increase the font size of the logo */
}

.main-nav {
  margin-top: 5px; /* Add a 5px top margin to the navigation menu */
}

/* Navigation menu links styles */
.logo a,
.main-nav a {
  padding: 10px 15px; /* Add padding to navigation menu links */
  text-transform: uppercase; /* Convert text to uppercase */
  text-align: center; /* Center-align text within links */
  display: block; /* Center-align text within links */
}

/* Navigation menu links color and hover effect */
.main-nav a {
  color: #34495e; /* Set the color of navigation menu links to #34495e (dark gray) */
  font-size: .99em; /* Decrease the font size slightly */
}

.main-nav a:hover {
  color: #718daa; /* Change the color of links on hover to #718daa (dark blue) */
}

/* Styling for header */
.header {
  padding-top: .5em; /* Add padding to the top and bottom of the header */
  padding-bottom: .5em; /* Add padding to the top and bottom of the header */
  border: 1px solid #a2a2a2; /* Add a 1px solid border and background color #f4f4f4 */
  background-color: #f4f4f4;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75); /* Add box-shadow and border-radius effects */
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* Media queries for responsive styling */
@media (min-width: 769px) {
  .header,/* Make the header and main navigation flex items */
  .main-nav {
    display: flex;
  }
  .header { /* Change the header's flex direction to column and align items to center */
    flex-direction: column; /* This will make the header items stack vertically */
    align-items: center; /* This will center the header items vertically */
      .header{
    width: 80%; /* Set the width of the header to 80% of the viewport width */
    margin: 0 auto; /* Margin the header to 0 auto, which will center it horizontally */
    max-width: 1150px; /* Set a maximum width of 1150px to prevent the header from becoming too wide */
  }
  }

}

@media (min-width: 1025px) { /* When the viewport width is at least 1025px */
  .header { /* Switch the header's flex direction to row and set the justify-content property to space-between */
    flex-direction: row; /* This will make the header items arrange horizontally */
    justify-content: space-between; /* This will add spacing between the header items */
  }

}

/* Set the text alignment of headings to center */
h1 {
  text-align: center;
}

/* Set the font size of headings to 60px */
h1 {
  font-size: 60px;
}

/* Set the font size of paragraphs to 20px */
p {
  font-size: 30px;
}

#ll {
  font-size: 30px;
  margin-bottom: 10px;
}

#lq {
  padding: 15px;
}

#h {
  font-weight: 800;
}

#rt {
  color: blue;
}